<div id="registro">
	<form method="post" action="/crear_usuario">
		<input type="text" name="newUser" value="introduzca su nombre"/>
		<input type="password" name="password" value=""/>
		<h2> ¿Quieres ser administrador? </h2>
		<div>
			<span>SI</span><input type="radio" name="isAdmin" value="true"/>
			<span>NO</span><input type="radio" name="isAdmin" value="false"/>
		</div>
		<input type="submit" name="enviar" value="Enviar"/>
	</form>
</div>