<table>
  <%if (quizes != " "){ var i; for (i=0; i < quizes.length; i++) { %>        
	<tr>
      <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    </tr> 
  <% }} %>
	<tr>
		<td>
			<form method="get" action="/quizes">
				<div>	
					<label for="busqueda">Busca una pregunta:</label>
				</div>
				<input type="text" name="search" id="busqueda"/>
				<input type="submit" id="envio"/>
			</form>
		</td>
	</tr>
</table>
